@font-face {
	font-family: 'Georgia';
	src: url("../assets/fonts/georgia-regular.ttf");
	font-weight: 400;
}

@font-face {
	font-family: 'Arial';
	src: url("../assets/fonts/arial-regular.ttf");
	font-weight: 400;
}

:root {
	--color-black: #000000;
	--color-white: #ffffff;
    --color-light: #F6F6F6;
    --color-light-s: #FAFAFA;
    --color-dark-s: #CDCDCD;
    --color-primary: #F1CDB3;

    --font-size-h1: 32px;
    --line-height-h1: 110%;

	--font-size-h2: 40px;
	--font-size-h3: 28px;

	--font-size-regular: 20px;
}

html {
    scroll-behavior: smooth;
    background-color: var(--color-light);
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, p {
    margin: 0;
}

a {
    text-decoration: none;
    color: unset;
}

.content-wrapper {
	width: 1280px;
	margin: 0 auto;
    background-color: var(--color-white);
}

.footer,
.section {
    width: 100%;
}

/* ---------- Header ---------- */

.header {
    position: absolute;
    padding: 60px 40px;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
}

.header__title {
    font-family: 'Georgia';
    font-style: normal;
	font-weight: 400;
    font-size: var(--font-size-h1);
    line-height: var(--line-height-h1);
    letter-spacing: 0.06em;
    color: var(--color-primary);
    text-align: center;
    margin-bottom: 10px;
}

.header__subtitle {
    font-family: 'Arial';
    font-style: normal;
	font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: var(--color-white);
    text-align: center;
}

.header__nav-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    column-gap: 35px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-s);

    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-link :hover {
    color: var(--color-light-s);
}

.nav-link.active a {
    color: var(--color-light-s);
    padding-bottom: 2px;
    border-bottom: 3px solid var(--color-primary);
    cursor: default;
}




/* ---------- Start Screen ---------- */

.start-screen {
    padding-top: 200px;
    background: url(../assets/images/noise_transparent@2x.png), 
                radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), 
                #211F20;
}